<section class="index-page">
  <img src={{avatar}} class='avatar'/>
  <h1>Hello {{name}}!</h1>
  <p class="success">
    You have been successfully logged in!
  </p>
  <a href='/auth/logout'>Logout</a>
</section>